{% extends 'base.html'%}
{% block content%}

 <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Razorpay Payment</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Razorpay Payment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<div class="container w-25 p-5">
<h3>Payment Successfull....😁</h3>
    </div>
{% endblock %}